.iconos{
    background-color: #000;
    width: 100%;
    text-align: center;
}

.inicio{
    width: 40px;
    height: 40px;
    padding-left: 5px;
}
.parrafo{
    /* background: #000;  */
    margin-top: -25px;  
    background: #0fea;
}
.titulo{
    padding-top: 5px;
    text-align: center;
}

.contenido{
    text-align: justify;
    font-size: 18px;
}
.tipo_textos{
    margin-top: -18px;  
    background: rgb(217, 217, 112);
}

.cursiva{
    color: #aad821;
    font-size: 18px;
}
.cursiva_peso{
    color: #000;
    font-size: 18px;
}

.formula{
    color: #f00;
    font-size: 18px;
}

.creador{
    background: #aad821;
    text-align: center;
}

.social{
    padding-left: 5px;
}
.contactos{
    background: #fff9;
}


.formulario{
    width: 99%;
    border-top: none ;
    border-right: 2px;
    border-top: 2px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    border-color: #aad821;
}

.titulo_cafe{
    text-align: center;
    color: #eefb8b;
}

.cafe{
    margin-top: 4px;
    width: 100%;
    border-radius: 5px;
}
.servicio{
    background: #b89e98;
}